*DS_Store
*.pyc
/.project
/.pydevproject
/dist/
.DS_Store
.env
*.swp
*idea.py
*.sublime-*

*.egg
/build/
/backup/
/.python-version
/env/
/subp.egg-info/
/testing.py
*.bak
/.coverage
*~
/.eggs/
/.tox/
/forks
/TODO.org
.cache/*
